
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: sans-serif;
    background: rgb(3, 77, 70);
    font-size: 11.5pt;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-box {
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    overflow: hidden;
    margin: 10% auto;
}

.form {
    width: 300px;
}

.header {
    padding:0 10px 10px;
    margin: 0 0 10px;
}

.header h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.form-control label, .form-control-select label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input {
    width: 100%;
    padding: 10px;
    font-size: 11pt;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 3px;
    background-color: rgba(99, 99, 99, 0.164);
}

.form-select {
    border: 1px solid rgb(150, 150, 150);
    border-radius: 3px;
    background-color: rgba(99, 99, 99, 0.164);
}

.form-select1 {
    padding: 10px 0 5px;
    display: flex;
    justify-content: space-around;
}

.form-select select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: rgba(99, 99, 99, 0);
    font-size: 11pt;
}

.form-submit button{
    width: 100%;
    padding: 10px;
    margin: 20px 0 0;
    border: none;
    border-radius: 5px;
    background: rgb(3, 77, 70);
    color: #fff;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 12pt;
    cursor: pointer;
}

.form-check {
    text-align: center;
}

.form-check-1 {
    margin: 20px 0px 0px;
}

.check-error {
    text-align: center;
}

.form-submit button:hover {
    background-color:  rgb(7, 36, 33);
}





/* success */

.form-control.success input {
    border: 1px solid rgb(0, 255, 0);
}

.form-control.success small {
    visibility: hidden;
}

.form-control-select.success .form-select{
    border: 1px solid rgb(0, 255, 0);
}

.form-control-select.success small {
    visibility: hidden;
}




/* error  */

.form-control.error input {
    border: 1px solid red;
}

.form-control.error small {
    visibility: visible;
    color: red;
}

.form-control-select.error .form-select{
    border: 1px solid red;
}

.form-control-select.error small {
    visibility: visible;
    color: red;
}